@use "./variables" as *;
@use "./breakpoint" as *;
@each $val in $numbers {
    .col-#{$val} {
        width: calc($val/12)*100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@each $val in $numbers {
    .col-md-#{$val} {
        @include tablet {
            width: calc($val/12)*100%;
            // padding-left: 10px;
            // padding-right: 10px;
        }
    }
}

@each $val in $numbers {
    .col-sm-#{$val} {
        @include mobile {
            width: calc($val/12)*100%;
            // padding-left: 5px;
            // padding-right: 5px;
        }
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    position: relative;
    @include tablet {
        padding: 0 20px;
    }
    @include mobile {
        padding: 0 10px;
    }
}